# editors
.idea/
*.DotSettings.user
.vs/
.vscode/

# artifacts
/build/
/logs*/
/run/
configuration/
keys/
*.blob
*.log

# OS & misc
.DS_STORE

# xs ignore patterns
.xs.ignore
.xs.credentials
nuget.config
lcov.info
